.divdark {
    color: white;
}

.divlight {
    color: black;
}

.inputdark{
    background-color: rgb(26, 26, 26);
    color: white !important;
    border-color: whitesmoke;
}

.inputlight {
    background-color: rgb(248, 239, 228);
    color: black !important;
    border-color: black;
}

.inputdark:hover {
    background-color: rgb(26, 26, 26);
}

.inputlight:hover {
    background-color: rgb(248, 239, 228);
}