.button{
    background-color: purple;
    color: red;
    border-color: blue;
    display: inline-block;
    justify-content: center;
    align-items: center;  
}

.projectlist{
    padding-left: 30%;
    padding-top: 1%;
    width: 70%;
}

.buttoncreate{
    padding-left: 60%;
}

.divlight {
    background-color: rgb(15, 15, 15);
    width: 100vw;
    height: 100vh;
}

.divdark {
    background-color: rgb(248, 239, 228);
    width: 100vw;
    height: 100vh;
}