.mainColdark {
    position: absolute;
    left: 13%;
    width: 80%;
    background-color: rgb(15, 15, 15);
}

.mainCollight {
    position: absolute;
    left: 13%;
    width: 80%;
    background-color: rgb(248, 239, 228);
}

.col {
    position: relative;
    padding-left: 5%;
}

.itemsdark {
    position: relative;
    top: 15px;
    padding-bottom: 15px;
    height: 15%;
    width: 100%;
    background-color: rgb(59, 59, 59);
}

.itemslight {
    position: relative;
    top: 15px;
    padding-bottom: 15px;
    height: 15%;
    width: 100%;
    background-color: whitesmoke;
    border-color: black;
}

.carddark {
    background-color: black;
}

.cardlight {
    background-color: rgb(248, 239, 228);
    border-color: black;
}

.scroll {
    position: relative;
    width: 30%;
    overflow: 'auto';
}

.list {
    position: relative;
    height: 50%;
}

.divdark {
    background-color: rgb(15, 15, 15);
    width: 100vw;
    height: 100vh;
}

.divlight {
    background-color: rgb(248, 239, 228);
    width: 100vw;
    height: 100vh;
}

.modaldark {
    background-color: rgb(15, 15, 15);
}

.modallight {
    background-color: rgb(248, 239, 228);
}