  .divChatLeftdark {
    width: 70%;
    margin-left: 0;
    margin-right: auto;
    border: 1px solid rgb(65, 65, 65);
    border-radius: 20px;
    background-color: rgb(65, 65, 65);
  }

  .divChatRightdark {
    background-color: rgb(65, 65, 65);
    width: 70%;
    margin-left: auto;
    margin-right: 0;
    border: 1px solid rgb(65, 65, 65);
    border-radius: 20px;
  }

  .divChatLeftlight {
    width: 70%;
    margin-left: 0;
    margin-right: auto;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: rgb(67, 67, 192);
  }

  .divChatRightlight {
    background-color: rgb(67, 67, 192);
    width: 70%;
    margin-left: auto;
    margin-right: 0;
    border: 1px solid gray;
    border-radius: 20px;
  }

  .leftSitedark {
    padding-left: 10%;
    height: 1px;
    font-size: x-small;
    color: white;
  }

  .leftSitelight {
    padding-left: 10%;
    height: 1px;
    font-size: x-small;
  }

  .leftSiteMessagedark {
    padding-left: 5%;
    height: auto;
    color: white;
  }

  .leftSiteMessagelight {
    padding-left: 5%;
    height: auto;
  }

  .rightSitedark {
    padding-left: 10%;
    height: 1px; 
    font-size: x-small;
    color: white;
  }

  .rightSitelight {
    padding-left: 10%;
    height: 1px; 
    font-size: x-small;
  }

  .rightSiteMessagedark {
    padding-left: 5%;
    height: auto;
    color: white;
  }

  .rightSiteMessagelight {
    padding-left: 5%;
    height: auto;
  }