.div{
    background-image: url("backgroundphoto.jpg");
    min-height: 93vh;
    position: absolute;
    left: -1%;
    min-width: 101vw;
}

.button{
    left: 85vw;
    background-color: green;
    border-color: lightgreen;
}

.buttonreg{
    background-color: green;
    border-color: lightgreen;
    left: 140%;
}

.input{
    background-color: white;
    color: black;
    width: 180%;
}

.passinput{
    background-color: white;
    color: black;
    width: 180%;
}